<table class="table table-striped">
  <% unless @categories.empty? %>
    <th>
      <div class="category-name">
        <%= "#{t('active_category')}" %>
      </div>
    </th>
    <th></th>
    <th></th>
    <% @categories.each do |c| %>
      <!-- <li class="list<%= cycle('odd', 'even') %>"> -->
      <tr>
      <td>
        <div class="category-name">
          <%= c.name %>
          (<%= c.prefix %>)
        </div>
        </td>
        <td>
        <div class="category-edit">
          <%= link_to "#{t('edit_text')}", {:action => "edit_category", :id=>c.id} %>
        </div>
        </td>
        <td>
        <div class="category-edit">
          <%= link_to "#{t('delete_text')}", {:action => "delete_category", :id=>c.id}, method: :DELETE, :confirm=>"#{t('delete_confirm_msg')}" %>
        </div>
        </td>
        </tr>
      <!-- </li> -->
    <% end %>
    <% unless @inactive_categories.empty? %>
    <th>
        <div class="category-name">
          <%= "#{t('inactive_category')}" %>
        </div>
      </th>
      <% @inactive_categories.each do |c| %>
        <!-- <li class="list<%= cycle('odd', 'even') %>"> -->
        <tr>
        <td>
          <div class="category-name">
            <%= c.name %>
            (<%= c.prefix %>)
          </div>
        </td>
        <td>
          <div class="category-edit">
            <%= link_to "#{t('edit_text')}", {:action => "edit_category", :id=>c.id} %>
          </div>
        </td>
        <td>
          <div class="category-edit">
            <%= link_to "#{t('delete_text')}", {:action => "delete_category", :id=>c.id}, method: :DELETE, :confirm=>"#{t('delete_confirm_msg')}" %>
          </div>
        </td>
        </tr>
        <!-- </li> -->
      <% end %>
    <% end %>
  <% else %>
    <p class="flash-msg">
      <%= "#{t('no_category_record_found')}" %>
    </p>
  <% end %>
</table>
