<%= javascript_include_tag :application %>
<%= csrf_meta_tag %>
<script>
  
  $jq = $.noConflict();
  $jq(document).ready(function() {
    $jq("#salary_date").datepicker({dateFormat: 'yy-mm-dd'});
  });

</script>
<%= form_for(:one_click_payslip, :url => {:action => 'one_click_payslip_generation'}, :remote => true) do %>
  <div class="label-field-pair">
    <label for="salary_date">
      <%= t('salary_date') %>
    </label>
    <div class="input-group">
      <%= text_field 'salary_date', class: "salary_date form_control", year_range => 2.years.ago..0.years.from_now %>
                <span class="input-group-addon">
                  <i class="ace-icon fa fa-calendar bigger-110"></i>
                </span>
    </div>
  </div>
  <div class="extender"></div>
  <div id="submit-button">
    <%= submit_tag(" #{t('go')}") %>
  </div>
<% end %>
<script type="text/javascript">
  $( ".salary_date" ).datepicker({
    dateFormat: 'yy-mm-dd',
    showOtherMonths: true,
    selectOtherMonths: false
  });
</script>