<%= form_for(@timetable) do |f| %>
  <% if @timetable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timetable.errors.count, "error") %> prohibited this timetable from being saved:</h2>

      <ul>
      <% @timetable.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
  <div class="row">
  <div class="col-md-4">
    <%= f.label :start_date %>
  </div>
  <div class="col-md-8">
    <%= f.text_field :start_date, class: "start_date form-control" %>
  </div>
  </div>
  </div><br>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

<script type="text/javascript">
  $( ".start_date" ).datepicker({
    dateFormat: 'yy-mm-dd',
    showOtherMonths: true,
    selectOtherMonths: false,
    //isRTL:true,
  });
</script>