<div id="content-header">
  <%= stylesheet_link_tag "timetable/new_timetable.css" %>
  <%#= image_tag("show_timetable.png") %>
  <h1>
    <%= t('timetable_text') %>
  </h1>
  <h3>
    <%= t('edit_timetable') %>
  </h3>
  <div id="app-back-button">
    <%#= back_button %>
  </div>
</div>
<div id="inner-tab-menu">
  <ul>
    <% unless @current %>
      <li>
        <%= link_to t('edit_entries'),:controller=>:timetable_entries,:action => "new",:timetable_id=>@timetable.id %>
      </li>
    <% else %>
      <li>
        <%= link_to t('edit_entries'),{:controller=>:timetable_entries,:action => "new",:timetable_id=>@timetable.id}, :class => 'delete-button',:confirm=>t("edit_current_tte_confirm") %>
      </li>
    <% end %>
    <% if @removable %>
      <li>
        <%= link_to t('delete_text'),{ :action => 'destroy', :id => @timetable.id }, :class => 'delete-button', :confirm => t('delete_timetable') %>
      </li>
    <% end %>
  </ul>
</div>
<% if (@timetable && @timetable.errors.present?) %>
  <div class="errorExplanation" id="errorExplanation">
    <% @timetable_errors.each do |e| %>
      <p>
        <%= t("#{e}") %>
      </p>
    <% end %>
  </div>
<% end %>
<div id="page-yield">
  <div class="box">
    <% unless flash[:notice].nil? %>
      <p class="flash-msg">
        <%= flash[:notice] %>
      </p>
    <% end %>
    <%= form_for @timetable, url: {controller: :timetables, action: :update_timetable, :id => @timetable.id} do |f| %>
      <input name="_method" type="hidden" value="post">/</input>
      <div class="label-field-pair">
        <label for="start_date">
          <%= t('start_date') %>
        </label>
        <div class="text-input-bg">
          <%= f.date_select :start_date,:use_month_numbers=>true,:disabled=>@current,:start_year=>1.years.ago.year,:end_year=>1.years.since.year,:order=>[:day,:month,:year],:include_blank => false %>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="end_date">
          <%= t('end_date') %>
        </label>
        <div class="text-input-bg">
          <%= f.date_select :end_date,:use_month_numbers=>true,:start_year=>1.years.ago.year,:end_year=>1.years.since.year,:order=>[:day,:month,:year],:include_blank => false %>
        </div>
      </div><br>
      <%= submit_tag "", :value => " save", :class => "btn btn-purple" %>
    <% end %>
  </div>
</div>
