<table class="table table-striped">
  <% unless @leave_types.empty? %>
    <th>
      <div class="leave-type-name">
        <%= t('active_leave') %>
      </div>
    </th>
    <th></th>
    <th></th>
    <th></th>
    <% @leave_types.each do |c| %>
      <!-- <li class="list<%= cycle('odd', 'even') %>"> -->
      <tr>
      <td>
        <div class="leave-type-name">
          <%= c.name %>
          -<%= c.code %>
        </div>
      </td>
      <td>
        <div class="leave-type-edit">
          <%= link_to "#{t('edit_text')}", {:action => "edit_leave_types", :id=>c.id} %>
        </div>
      </td>
      <td>
        <div class="leave-type-edit">
          <%= link_to "#{t('delete_text')}", {:action => "delete_leave_types", :id=>c.id},:confirm=>"#{t('delete_confirm_msg')}", method: :DELETE %>
        </div>
      </td>
      <td>
        <div class="leave-type-edit">
          <%= "#{t('Inactive')}" unless c.status == true %>
        </div>
      </td>
      </tr>
    <% end %>
    <% unless @inactive_leave_types.empty? %>
      <th>
        <div class="leave-type-name">
          <%= t('inactive_leave') %>
        </div>
      </th>
      <th></th>
      <th></th>
      <% @inactive_leave_types.each do |c| %>
        <!-- <li class="list<%= cycle('odd', 'even') %>"> -->
        <tr>
        <td>
          <div class="leave-type-name">
            <%= c.name %>
            -<%= c.code %>
          </div>
        </td>
        <td>
          <div class="leave-type-edit">
            <%= link_to "#{t('edit_text')}", {:action => "edit_leave_types", :id=>c.id} %>
          </div>
        </td>
        <td>
          <div class="leave-type-edit">
            <%= link_to "#{t('delete_text')}", {:action => "delete_leave_types", :id=>c.id},:confirm=>"#{t('delete_confirm_msg')}", method: :DELETE %>
          </div>
        </td>
        </tr>
      <% end %>
    <% end %>
  <% else %>
    <p class="flash-msg">
      <%= t('employee_leave_types_records') %>
    </p>
  <% end %>
</table>
